@import "tailwindcss";

@theme {
  --color-brand-primary: #0F172A;
  --color-brand-secondary: #34A853;
  --color-brand-accent: #F59E0B;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0F172A;
}
